/* Variables */
@witheColor: #ffffff;
@dark: #000000;
@darkBlue: #0B2842;

/* Reset CSS */
html, body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

/* Import Fonts */
@font-face {
  font-family: 'KelsonLight-Light';
  src:  url('fonts/kelson_sans_light-webfont.eot');
  src:  url('fonts/kelson_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/kelson_sans_light-webfont.woff2') format('woff2'),
        url('fonts/kelson_sans_light-webfont.woff') format('woff'),
        url('fonts/kelson_sans_light-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'KelsonRegular';
  src:  url('fonts/kelson_sans_regular-webfont.eot');
  src:  url('fonts/kelson_sans_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/kelson_sans_regular-webfont.woff2') format('woff2'),
        url('fonts/kelson_sans_regular-webfont.woff') format('woff'),
        url('fonts/kelson_sans_regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'KelsonBold';
  src: url('fonts/kelson_sans_bold-webfont.eot');
  src:  url('fonts/kelson_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/kelson_sans_bold-webfont.woff2') format('woff2'),
        url('fonts/kelson_sans_bold-webfont.woff') format('woff'),
        url('fonts/kelson_sans_bold-webfont.ttf') format('truetype');
}


/* Common */
body{
  font-family: 'KelsonLight-Light', Helvetica, sans-serif;
  font-size: 1em;
  background-color:@dark;
}
.fullscreen{
  position:relative; float:left;
  width:100%; height:100%;
  background-image: url("../images/background.jpg"); background-size: cover;
}

/* Fixed Header */
header{
  position:fixed;
  top:0; left:0; z-index: 99;
  width:100%; height:50px;
  background-color:rgba(0,0,0,0.6);

  nav{
    position:relative;
    width:100%; max-width: 1280px;
    margin:0 auto;
    text-align: center;

    ul{
      list-style: none;

      li{
        display: inline-block;
        height: 50px;
        padding:0 20px;
        line-height: 50px;

        a{
          height: 50px;
          line-height: 50px;
          color:@witheColor;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

/* Home */
#home{
  background-image: url("../images/homeBG.jpg"); background-size: cover;

  .yellowCorner{
    position:absolute;
    left:0; bottom:0;
    width:404px; height:404px;
    background:url("../images/yellowCorner.png") no-repeat;
  }

  .blueCorner{
    position:absolute;
    right:0; bottom:0;
    width:676px; height:415px;
    background:url("../images/blueCorner.png") no-repeat;
  }

  h1{
    display:block;
    position:absolute; z-index: 3;
    top:50%; left:50%;
    width:600px; height:50px;
    margin:-45px 0 0 -300px;
    color:@witheColor;
    line-height: 50px; text-align: center;
    font-size: 3em; letter-spacing: 30px;
  }

  h2{
    display:block;
    position:absolute; z-index: 3;
    top:50%; left:50%;
    width:600px; height:50px;
    margin:15px 0 0 -300px;
    color:@witheColor;
    line-height: 50px; text-align: center;
    font-size: 1.5em; letter-spacing: 5px;
  }
}

/* About */
#about{
  .yellowCorner{
    position:absolute; z-index: 1;
    left:0; top:0;
    width:445px; height:100%;
    background:url("../images/yellowCorner2.png") no-repeat;
  }

  .yellowCorner2{
    position:absolute; z-index: 0;
    right:-30px; top:0;
    width:1379px; height:100%;
    opacity: 0.7;
    background:url("../images/yellowCorner3.png") no-repeat;
  }

  .blueCorner{
    position:absolute; z-index: 2;
    right:0; bottom:0;
    width: 876px; height:100%;
    background:url("../images/blueCorner2.png") no-repeat;
  }

  .whiteBar{
    position:absolute; z-index: 3;
    right:698px; top:60px;
    width: 190px; height:4px;
    background: @witheColor;
    transform: rotate(-45deg);
  }

  .whiteBar2{
    position:absolute; z-index: 3;
    right:356px; top:460px;
    width: 120px; height:4px;
    background: @witheColor;
    transform: rotate(45deg);
  }
}

/* Features */
#features{
  .yellowCorner{
    position:absolute; z-index: 1;
    left:0; top:0;
    width:445px; height:100%;
    background:url("../images/yellowCorner2.png") no-repeat;
  }

  .yellowCorner2{
    position:absolute; z-index: 0;
    right:0px; bottom:0;
    width:1129px; height:100%;
    opacity: 0.7;
    background:url("../images/yellowCorner4.png") no-repeat;
  }

  .blueCorner{
    position:absolute; z-index: 2;
    right:0; bottom:0;
    width: 723px; height:100%;
    background:url("../images/blueCorner3.png") no-repeat;
  }
}
.features-img{
  position:absolute;
  top:50%; left:50px;
  width:350px; height:350px;
  margin-top: -150px;

  img{
    width:100%;
  }
}

/* Get Started */
#getstarted{
  .yellowCorner{
    position:absolute; z-index: 1;
    left:0; top:0;
    width:685px; height:100%;
    background:url("../images/yellowCorner5.png") no-repeat;
  }

  .yellowCorner2{
    position:absolute; z-index: 0;
    right:0px; bottom:0;
    width:1129px; height:100%;
    opacity: 0.7;
    background:url("../images/yellowCorner4.png") no-repeat;
  }

  .blueCorner{
    position:absolute; z-index: 2;
    right:0; bottom:0;
    width: 723px; height:100%;
    background:url("../images/blueCorner3.png") no-repeat;
  }

  .whiteBar{
    position:absolute; z-index: 3;
    left:529px; top:60px;
    width: 190px; height:4px;
    background: @witheColor;
    transform: rotate(-45deg);
  }

  .whiteBar2{
    position:absolute; z-index: 3;
    right:430px; top:690px;
    width: 120px; height:4px;
    background: @witheColor;
    transform: rotate(45deg);
  }
}
.desc{
  width:45%;

  .circle{
    float:left;
    width:30px; height:30px;
    margin-right: 20px;
    background:@witheColor; border-radius: 15px;
    text-align: center; line-height: 30px; color: @darkBlue; font-family: 'KelsonRegular', Helvetica, sans-serif; font-size: 1.2em;
  }

  .title{
    float:left;
    height: 30px; line-height: 30px;
    font-family: 'KelsonRegular', Helvetica, sans-serif; font-size: 1.2em;
  }

  p{
    float: left;
    clear:both;
    margin-left: 50px;
    font-size: 0.825em;
  }
}
.code{
  height:60px!important; width:360px;
  border-radius: 8px;
  background:rgba(255,255,255,0.7);
  line-height: 60px; text-align: center; color:@darkBlue;
}

.stepOne{
  position:absolute;
  top:50%; left:50px;
  height:100px;
  margin-top: -200px;

  &.code{
    right:50px; left:auto;
    margin-top: -180px;
  }
}
.stepTwo{
  position:absolute;
  top:50%; left:80px;
  height:100px;
  margin-top: -90px;

  &.code{
    right:50px; left:auto;
    margin-top: -70px;
  }
}
.stepThree{
  position:absolute;
  top:50%; left:65px
  height:100px;
  margin-top: 20px;

  &.code{
    right:50px; left:auto;
    margin-top: 40px;
  }
}
.stepFour{
  position:absolute;
  top:50%; left:105px;
  height:100px;
  margin-top: 130px;

  &.code{
    right:50px; left:auto;
    margin-top: 150px;
  }
}

/* Download */
#download{
  .left-section{
    left:50%; top:260px;
    margin-left: -500px;
  }

  .right-section{
    right:50%; top:260px;
    margin-right: -500px;
  }

  .dl-section{
    position:absolute;
    width:450px;
    text-align: center;

    span{
      float:left;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }

    .title{
      font-family: 'KelsonBold', Helvetica, sans-serif;
      font-size: 2em;
      margin-bottom: 10px;
    }

    .btn{
      display:block;
      clear:both;
      width:220px; height:60px;
      background-color:rgba(255,255,255,0.5);
      border:1px solid @witheColor; border-radius:6px;
      margin:30px auto 0;

      &.dl-btn{
        background-image: url("../images/dl-btn.png");
        background-position: 150px center;
        background-repeat: no-repeat;
      }

      &.github-btn{
        background-image: url("../images/github-btn.png");
        background-position: 150px center;
        background-repeat: no-repeat;
      }

      span{
        float:left;
        width:160px; height:30px;
        text-align: center;
        margin-bottom: 0;
        line-height: 30px;
        font-size: 2em; color:@witheColor;

        &.dl{
          font-size: 1.2em;
          font-family: 'KelsonBold', Helvetica, sans-serif;
        }
      }
    }
  }
}

.fullscreen{
  border-top:1px solid @witheColor; overflow: hidden;

  .content{
    position:relative; z-index: 20;
    width:100%; height: 100%;
    max-width: 1024px;
    margin:0 auto;
    color:@witheColor;

    h1{
      position:absolute; z-index: 10;
      font-size:2.5em; color:@witheColor;
      letter-spacing: 2px;

      &.right{
        right:20px; top:120px;
      }

      &.left{
        left:20px; top:120px;
      }
    }

    .text{
      color:@witheColor;

      span{
        float:left; clear:both;
      }
    }

    .middlePos{
      position:absolute;
      left:50%; top:60%;
      width:400px;
      margin-left:-40px;
    }

    .square{
      position:absolute; z-index: 20;
      left:180px; top:200px;
      width:280px; height:280px;
      border: 1px solid white;
      transform: rotate(45deg);

      img{
        position:absolute;
        top:50px; left:30px;
        width:200px;
        transform: rotate(-45deg);
      }
    }

    .leftPos{
      position: absolute;
      left: 50%; top: 35%;
      width: 400px;
      margin-left: 200px;
    }

    .download-btn{
      position:absolute; z-index: 20;
      left:260px; top:564px;
      width:120px; height:120px;
      border: 1px solid white;
      transform: rotate(45deg);

      span{
        position:absolute;
        top:45px; left:30px;
        transform: rotate(-45deg);
        color:white;
        cursor:pointer;
      }
    }


  }
}























