/* Variables */
/* Reset CSS */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/* Import Fonts */
@font-face {
  font-family: 'KelsonLight-Light';
  src: url('fonts/kelson_sans_light-webfont.eot');
  src: url('fonts/kelson_sans_light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/kelson_sans_light-webfont.woff2') format('woff2'), url('fonts/kelson_sans_light-webfont.woff') format('woff'), url('fonts/kelson_sans_light-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'KelsonRegular';
  src: url('fonts/kelson_sans_regular-webfont.eot');
  src: url('fonts/kelson_sans_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/kelson_sans_regular-webfont.woff2') format('woff2'), url('fonts/kelson_sans_regular-webfont.woff') format('woff'), url('fonts/kelson_sans_regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'KelsonBold-Bold';
  src: url('fonts/kelson_sans_bold-webfont.eot');
  src: url('fonts/kelson_sans_bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/kelson_sans_bold-webfont.woff2') format('woff2'), url('fonts/kelson_sans_bold-webfont.woff') format('woff'), url('fonts/kelson_sans_bold-webfont.ttf') format('truetype');
}
/* Common */
body {
  font-family: 'KelsonLight-Light', Helvetica, sans-serif;
  font-size: 1em;
  background-color: #000000;
}
.fullscreen {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
}
/* Fixed Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}
header nav {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
/* Home */
#home {
  background-image: url("../images/homeBG.jpg");
  background-size: cover;
}
#home .yellowCorner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 404px;
  height: 404px;
  background: url("../images/yellowCorner.png") no-repeat;
}
#home .blueCorner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 676px;
  height: 415px;
  background: url("../images/blueCorner.png") no-repeat;
}
#home h1 {
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 50px;
  margin: -45px 0 0 -300px;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  font-size: 3em;
  letter-spacing: 30px;
}
#home h2 {
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 50px;
  margin: 15px 0 0 -300px;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 5px;
}
/* About */
#about .yellowCorner {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 445px;
  height: 100%;
  background: url("../images/yellowCorner2.png") no-repeat;
}
#about .yellowCorner2 {
  position: absolute;
  z-index: 0;
  right: -30px;
  top: 0;
  width: 1379px;
  height: 100%;
  opacity: 0.7;
  background: url("../images/yellowCorner3.png") no-repeat;
}
#about .blueCorner {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 876px;
  height: 100%;
  background: url("../images/blueCorner2.png") no-repeat;
}
#about .whiteBar {
  position: absolute;
  z-index: 3;
  right: 698px;
  top: 60px;
  width: 190px;
  height: 4px;
  background: #ffffff;
  transform: rotate(-45deg);
}
#about .whiteBar2 {
  position: absolute;
  z-index: 3;
  right: 356px;
  top: 460px;
  width: 120px;
  height: 4px;
  background: #ffffff;
  transform: rotate(45deg);
}
/* Features */
#features .yellowCorner {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 445px;
  height: 100%;
  background: url("../images/yellowCorner2.png") no-repeat;
}
#features .yellowCorner2 {
  position: absolute;
  z-index: 0;
  right: 0px;
  bottom: 0;
  width: 1129px;
  height: 100%;
  opacity: 0.7;
  background: url("../images/yellowCorner4.png") no-repeat;
}
#features .blueCorner {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 723px;
  height: 100%;
  background: url("../images/blueCorner3.png") no-repeat;
}
.features-img {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 350px;
  height: 350px;
  margin-top: -150px;
}
.features-img img {
  width: 100%;
}
/* Get Started */
#getstarted .yellowCorner {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 685px;
  height: 100%;
  background: url("../images/yellowCorner5.png") no-repeat;
}
#getstarted .yellowCorner2 {
  position: absolute;
  z-index: 0;
  right: 0px;
  bottom: 0;
  width: 1129px;
  height: 100%;
  opacity: 0.7;
  background: url("../images/yellowCorner4.png") no-repeat;
}
#getstarted .blueCorner {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 723px;
  height: 100%;
  background: url("../images/blueCorner3.png") no-repeat;
}
#getstarted .whiteBar {
  position: absolute;
  z-index: 3;
  left: 529px;
  top: 60px;
  width: 190px;
  height: 4px;
  background: #ffffff;
  transform: rotate(-45deg);
}
#getstarted .whiteBar2 {
  position: absolute;
  z-index: 3;
  right: 430px;
  top: 690px;
  width: 120px;
  height: 4px;
  background: #ffffff;
  transform: rotate(45deg);
}
.desc {
  width: 45%;
}
.desc .circle {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: #ffffff;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  color: #0b2842;
  font-family: 'KelsonRegular', Helvetica, sans-serif;
  font-size: 1.2em;
}
.desc .title {
  float: left;
  height: 30px;
  line-height: 30px;
  font-family: 'KelsonRegular', Helvetica, sans-serif;
  font-size: 1.2em;
}
.desc p {
  float: left;
  clear: both;
  margin-left: 50px;
  font-size: 0.825em;
}
.code {
  height: 60px!important;
  width: 360px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  line-height: 60px;
  text-align: center;
  color: #0b2842;
}
.stepOne {
  position: absolute;
  top: 50%;
  left: 50px;
  height: 100px;
  margin-top: -200px;
}
.stepOne.code {
  right: 50px;
  left: auto;
  margin-top: -180px;
}
.stepTwo {
  position: absolute;
  top: 50%;
  left: 80px;
  height: 100px;
  margin-top: -90px;
}
.stepTwo.code {
  right: 50px;
  left: auto;
  margin-top: -70px;
}
.stepThree {
  position: absolute;
  top: 50%;
  left: 65px
  height:100px;
  margin-top: 20px;
}
.stepThree.code {
  right: 50px;
  left: auto;
  margin-top: 40px;
}
.stepFour {
  position: absolute;
  top: 50%;
  left: 105px;
  height: 100px;
  margin-top: 130px;
}
.stepFour.code {
  right: 50px;
  left: auto;
  margin-top: 150px;
}
.fullscreen {
  border-top: 1px solid #ffffff;
  overflow: hidden;
}
.fullscreen .content {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  color: #ffffff;
}
.fullscreen .content h1 {
  position: absolute;
  z-index: 10;
  font-size: 2.5em;
  color: #ffffff;
  letter-spacing: 2px;
}
.fullscreen .content h1.right {
  right: 20px;
  top: 120px;
}
.fullscreen .content h1.left {
  left: 20px;
  top: 120px;
}
.fullscreen .content .text {
  color: #ffffff;
}
.fullscreen .content .text span {
  float: left;
  clear: both;
}
.fullscreen .content .middlePos {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 400px;
  margin-left: -40px;
}
.fullscreen .content .square {
  position: absolute;
  z-index: 20;
  left: 180px;
  top: 200px;
  width: 280px;
  height: 280px;
  border: 1px solid white;
  transform: rotate(45deg);
}
.fullscreen .content .square img {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 200px;
  transform: rotate(-45deg);
}
.fullscreen .content .leftPos {
  position: absolute;
  left: 50%;
  top: 35%;
  width: 400px;
  margin-left: 200px;
}
.fullscreen .content .download-btn {
  position: absolute;
  z-index: 20;
  left: 260px;
  top: 564px;
  width: 120px;
  height: 120px;
  border: 1px solid white;
  transform: rotate(45deg);
}
.fullscreen .content .download-btn span {
  position: absolute;
  top: 45px;
  left: 30px;
  transform: rotate(-45deg);
  color: white;
  cursor: pointer;
}
